@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
%grid-center {
  display: grid;
  place-items: center;
}

%ignore-hover {
  pointer-events: none;
}

%negative-filter {
  @extend %ignore-hover;
  mix-blend-mode: difference;
}

%not-selectable {
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  @extend %grid-center;
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

i.drop {
  @extend %not-selectable;
  position: absolute;
  height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: falling 5s infinite linear;
  top: 0px;
}

@keyframes falling {
  0% {
    transform: translateY(-200px) rotateZ(-20deg);
  }
  100% {
    transform: translateY(calc(100vh + 200px)) rotateZ(0);
  }
}

.rain {
  @extend %not-selectable;
  padding: 0 6rem;
  color: #fff;
  // font-family: "Bebas Neue", cursive;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 8rem;
  letter-spacing: 1rem;
  z-index: 0;
  border: white 1px solid;

  transition: font-size 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover ~ .follower {
    transform: translate(-50%, -50%) scale(2);
  }
}

.follower {
  @extend %negative-filter;
  z-index: 1;
  position: absolute;
  background-color: white;
  aspect-ratio: 1;
  width: 10rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  transition: top 0.05s linear, top 0.05s linear,
    transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.idle {
    animation: idleAni 3s ease-out forwards;
    transform: translate(-50%, -50%) scale(0);
  }
}

.halfFilter {
  @extend %negative-filter;

  z-index: 399;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background-color: #fff;
}

@media screen and (max-width: 1280px) {
  .rain {
    font-size: 6rem;
  }
}

@media screen and (max-width: 640px) {
  .rain {
    font-size: 3.5rem;
  }
}
